<div class="container" ng-controller="DocumentController">
    <h2>Document Management</h2>
    <div class="form-inline">
        <input type="text" class="form-control" ng-model="searchText" placeholder="Search...">
        <button class="btn btn-primary" ng-click="openNewDocumentModal()">New Document</button>
        <button class="btn btn-success" ng-click="exportToExcel()">Download Excel</button>
    </div>
    <br>
    <div class="form-inline">
        <div class="form-group">
            <label for="startDate">From</label>
            <input type="date" id="startDate" class="form-control" ng-model="filter.startDate">
        </div>
        <div class="form-group">
            <label for="endDate">To</label>
            <input type="date" id="endDate" class="form-control" ng-model="filter.endDate">
        </div>
        <button class="btn btn-primary" ng-click="filterByDate()">Filter</button>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Date</th>
            <th>Number</th>
            <th>Client</th>
            <th>Products</th>
            <th>Total</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="doc in filteredDocs | filter:searchText">
            <td>{{doc.date}}</td>
            <td>{{doc.num}}</td>
            <td>{{doc.client.name}}</td>
            <td>{{doc.quantityProducts}}</td>
            <td>{{doc.total | currency}}</td>
            <td>
                <button class="btn btn-info" ng-click="editDocument(doc)">Edit</button>
                <button class="btn btn-danger" ng-click="deleteDocument(doc)">Delete</button>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="loader" ng-class="{'show': isLoading}"></div>
</div>

<script type="text/ng-template" id="modalTemplate.html">
    <div class="modal-header">
        <h4 class="modal-title">Document</h4>
    </div>
    <div class="modal-body">
        <form name="documentForm">
            <div class="form-group">
                <label for="date">Date</label>
                <input type="date" id="date" class="form-control" ng-model="newDocument.date">
            </div>
            <div class="form-group">
                <label for="num">Number</label>
                <input type="text" id="num" class="form-control" ng-model="newDocument.num" ng-blur="formatNumOnBlur()" maxlength="9">
            </div>
            <div class="form-group">
                <label for="customer">Client</label>
                <select id="customer" class="form-control" ng-model="newDocument.client" ng-options="customer._id as customer.name for customer in customers">
                    <option value="">Select a Client</option>
                </select>
            </div>
            <h4>Products</h4>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Quantity</th>
                    <th>Unit Price</th>
                    <th>Total</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="product in newDocument.products">
                    <td><input type="text" ng-model="product.id" class="form-control"></td>
                    <td><input type="text" ng-model="product.name" class="form-control"></td>
                    <td><input type="number" ng-model="product.quantity" class="form-control" min="0" ng-change="updateTotal(product)"></td>
                    <td><input type="number" ng-model="product.unitPrice" class="form-control" min="0" ng-change="updateTotal(product)"></td>
                    <td>{{product.total | currency}}</td>
                    <td><button class="btn btn-danger" ng-click="removeProduct(product)">Remove</button></td>
                </tr>
                <tr>
                    <td colspan="2"><strong>Total:</strong></td>
                    <td><strong>{{getTotalQuantity()}}</strong></td>
                    <td></td>
                    <td><strong>{{getTotalAmount() | currency}}</strong></td>
                </tr>
                </tbody>
            </table>
            <div>
                <button type="button" class="btn btn-success" ng-click="addProduct()">Add Product</button>
                <button type="button" class="close" ng-click="closeModal()">&times;</button>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="closeModal()">Close</button>
        <button type="button" class="btn btn-primary" ng-click="saveDocument()">Save</button>
    </div>
</script>
</div>
